/* SCSS Document */
body {
  font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/*******
 error
 *******/
#error {
  background: rgba(255, 0, 0, 0.5);
  text-align: center;
  width: 460px;
  padding: 20px;
  margin-left: calc(50% - 250px);
  margin-top: 200px;
}
#error p:first-child {
  font-weight: bold;
}
/*******
 header
 *******/
#header {
  height: 50px;
  width: 100vw;
  position: fixed;
  background: white;
  top: 0;
  z-index: 1001;
  border-bottom: 2px solid #a03838;
}
.logo {
  width: calc(100% - 200px);
  position: absolute;
  left: 100px;
  font-family: 'Righteous', cursive;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  margin-top: -8px;
}
.flag {
  width: 100px;
  position: absolute;
  right: 0;
}
.flag img {
  width: 30px;
  margin: 15px 5px;
  transition: 0.3s;
  box-shadow: 2px 2px 7.5px;
}
.flag img:hover {
  box-shadow: 1px 1px 4px;
}
.menu {
  width: 100px;
  position: absolute;
  left: 0;
}
.menu button {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin: 5px;
  width: 50px;
  height: 40px;
}
.menu button:hover .icon-bar {
  margin: 5px auto;
}
.menu button:focus {
  outline: none;
}
.menu .visible-menu .icon-bar:nth-child(2) {
  display: none;
}
.menu .visible-menu .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  margin: -3px auto;
}
.menu .visible-menu .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  margin: -3px auto;
}
.menu .icon-bar {
  height: 3px;
  width: 25px;
  background-color: black;
  margin: 3px auto;
  transition: 0.3s;
}
/*******
 content
 *******/
#content {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
#content .entry-content-page {
  padding: 50px 100px;
  height: 100vh;
  overflow: scroll;
  position: relative;
}
#content #menuCloseBtn {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  border-radius: 7px;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  height: 34px;
}
#content #menuCloseBtn i {
  margin-top: -3px;
}
#content #menuCloseBtn .fa-2x {
  font-size: 2.5em;
}
#content #menuCloseBtn:hover {
  background: rgba(255, 255, 255, 1);
}
#content #startpage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding-top: 200px;
}
#content #startpage div {
  text-align: right;
}
#content #startpage div.welcomeTitle {
  font-size: 100px;
  font-weight: 700;
}
#content #startpage div.welcomeSubtitle {
  font-size: 40px;
  font-weight: 500;
}
#menu {
  margin-top: 50px;
  display: inline-block;
  position: fixed;
  z-index: 2;
}
#menu ul.navbar-nav {
  flex-direction: row;
  height: calc(100vh - 50px);
  display: inline-flex;
}
#menu .menu-item {
  display: inline-flex;
  width: 30px;
  margin-left: -30px;
  transition: 0.5s;
}
#menu .menu-item .nav-link {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: calc(100vh - 50px);
  text-align: center;
  width: 30px;
  color: rgba(255, 255, 255, 0);
  padding: 0px;
  transition: color 0.2s, letter-spacing 0.5s;
}
#menu .menu-item .nav-link.fade-text {
  color: rgba(255, 255, 255, 1.00);
}
#menu .menu-item .nav-link:hover {
  letter-spacing: 7.5px;
}
#menu .menu-item.collapse-side {
  margin-left: 0px;
}
#menu .dropdown-menu.show {
  transition: all 0.5s;
  min-width: 30px;
  max-width: 30px;
  height: calc(100vh - 50px);
  transform: translate3d(0px, 0px, 0px) !important;
  background: inherit;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  border: none;
}
#menu .dropdown-menu.show .dropdown-item {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: 30px;
  padding: 10px 0;
  color: white;
  text-align: center;
  transition: letter-spacing 0.5s;
}
#menu .dropdown-menu.show .dropdown-item:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.00);
  letter-spacing: 5px;
}
#menu .dropdown-toggle::after {
  display: none;
}
#menu .menu-item-has-children.show > a {
  color: rgba(0, 0, 0, 0.00) !important;
}
.menu-item:nth-child(1) #firefoxScroller {
  background: rgba(30, 30, 30, 0.5);
}
.menu-item:nth-child(1) a {
  background: rgba(30, 30, 30, 1);
}
.menu-item:nth-child(2) #firefoxScroller {
  background: rgba(50, 50, 50, 0.5);
}
.menu-item:nth-child(2) a {
  background: rgba(50, 50, 50, 1);
}
.menu-item:nth-child(3) #firefoxScroller {
  background: rgba(70, 70, 70, 0.5);
}
.menu-item:nth-child(3) a {
  background: rgba(70, 70, 70, 1);
}
.menu-item:nth-child(4) #firefoxScroller {
  background: rgba(90, 90, 90, 0.5);
}
.menu-item:nth-child(4) a {
  background: rgba(90, 90, 90, 1);
}
.menu-item:nth-child(5) #firefoxScroller {
  background: rgba(110, 110, 110, 0.5);
}
.menu-item:nth-child(5) a {
  background: rgba(110, 110, 110, 1);
}
.menu-item:nth-child(6) #firefoxScroller {
  background: rgba(130, 130, 130, 0.5);
}
.menu-item:nth-child(6) a {
  background: rgba(130, 130, 130, 1);
}
/*******
 ajax
 *******/
#ajax-content {
  overflow: scroll;
  height: 100vh;
  padding: 50px 100px 100px;
  opacity: 0;
  color: white;
  width: 100%;
}
#firefoxScroller {
  overflow: hidden;
  width: 100%;
}
@-moz-document url-prefix() {
  #menu {
    margin-top: -6px;
  }
  #firefoxScroller {
    margin-right: -20px;
  }
}
@supports (-ms-ime-align: auto) {
  /* Microsoft EdgeV13&14 CSS styles go here */
  #firefoxScroller {
    margin-right: -20px;
  }
}
