/* SCSS Document */
body {
  font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/*******
 error
 *******/
#error {
  background: rgba(255, 0, 0, 0.5);
  text-align: center;
  width: 460px;
  padding: 20px;
  margin-left: calc(50% - 250px);
  margin-top: 200px;
}
#error p:first-child {
  font-weight: bold;
}
/*******
 header
 *******/
#header {
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1001;
  background: red;
}
.logo {
  width: calc(100% - 200px);
  position: absolute;
  left: 100px;
}
.flag {
  width: 100px;
  position: absolute;
  right: 0;
}
.flag img {
  width: 30px;
  margin: 15px 5px;
  box-shadow: 2px 2px 10px;
  transition: 0.3s;
}
.flag img:hover {
  box-shadow: none;
}
.menu {
  width: 100px;
  position: absolute;
  left: 0;
}
.menu button {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin: 5px;
  width: 50px;
  height: 40px;
}
.menu button:hover .icon-bar {
  margin: 5px auto;
}
.menu button:focus {
  outline: none;
}
.menu .visible-menu .icon-bar:nth-child(2) {
  display: none;
}
.menu .visible-menu .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  margin: -3px auto;
}
.menu .visible-menu .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  margin: -3px auto;
}
.menu .icon-bar {
  height: 3px;
  width: 25px;
  background: black;
  margin: 3px auto;
  transition: 0.3s;
}
/*******
 content
 *******/
#content {
  margin-top: 50px;
  background: lightgrey;
  height: calc(100vh - 50px);
  overflow: hidden;
}
#content .entry-content-page {
  height: 100vh;
  overflow: scroll;
  position: relative;
}
#content #menuCloseBtn {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  border-radius: 7px;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  height: 34px;
}
#content #menuCloseBtn i {
  margin-top: -3px;
}
#content #menuCloseBtn .fa-2x {
  font-size: 2.5em;
}
#content #menuCloseBtn:hover {
  background: rgba(255, 255, 255, 1);
}
#menu {
  display: inline-block;
  position: fixed;
  z-index: 2;
}
#menu ul.navbar-nav {
  flex-direction: row;
  height: calc(100vh - 50px);
  display: inline-flex;
}
#menu .menu-item {
  display: inline-flex;
  width: 30px;
  margin-left: -30px;
  transition: 0.5s;
}
#menu .menu-item .nav-link {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: calc(100vh - 50px);
  text-align: center;
  width: 30px;
  color: rgba(255, 255, 255, 0);
  padding: 0px;
  transition: color 0.2s, opacity 0.2s;
}
#menu .menu-item .nav-link.fade-text {
  color: rgba(255, 255, 255, 1.00);
}
#menu .menu-item .nav-link:hover {
  opacity: 1;
}
#menu .menu-item.collapse-side {
  margin-left: 0px;
}
#menu:hover .nav-link {
  opacity: 0.3;
}
#menu .dropdown-menu.show {
  transition: all 0.5s;
  min-width: 30px;
  max-width: 30px;
  height: calc(100vh - 50px);
  transform: translate3d(0px, 0px, 0px) !important;
  background: inherit;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  border: none;
}
#menu .dropdown-menu.show .dropdown-item {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: 30px;
  padding: 10px 0;
  color: white;
  text-align: center;
}
#menu .dropdown-menu.show .dropdown-item:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.00);
}
#menu .dropdown-toggle::after {
  display: none;
}
.menu-item:nth-child(1) {
  background: rgba(0, 0, 0, 1);
}
.menu-item:nth-child(2) {
  background: rgba(50, 50, 50, 1);
}
.menu-item:nth-child(3) {
  background: rgba(100, 100, 100, 1);
}
.menu-item:nth-child(4) {
  background: rgba(150, 150, 150, 1);
}
/*******
 ajax
 *******/
#ajax-content {
  overflow: scroll;
  height: 100vh;
  padding: 50px 100px 100px;
  opacity: 0;
  color: white;
}
