// _header.scss

/*******
 header
*******/

#header{
	height: 50px;
	width: 100vw;
	position: fixed;
	background: white;
	top: 0;
	z-index: 1001;
	border-bottom: 2px solid $rgba-primary-4;
}

.logo{
	width: calc(100% - 200px);
	position: absolute;
	left: 100px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin-top: -8px;
	a{
		color: inherit;
		opacity: 0;
		transition: opacity 0.5s;
//		padding: 0 100px;
//        background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(62,64,67,1) 15%, rgba(64,63,63,1) 16%, rgba(64,63,63,1) 85%, rgba(125,185,232,0) 100%);
//        background: -o-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(62,64,67,1) 15%, rgba(64,63,63,1) 16%, rgba(64,63,63,1) 85%, rgba(125,185,232,0) 100%);
//        background: linear-gradient(to right, rgba(30,87,153,0) 0%, rgba(62,64,67,1) 15%, rgba(64,63,63,1) 16%, rgba(64,63,63,1) 85%, rgba(125,185,232,0) 100%);
		&:hover{
			text-decoration: none;
		}
	}
}
.flag{
	width: 100px;
	position: absolute;
	right: 0;
	img{
		width: 30px;
		margin: 15px 5px;
		transition: 0.3s;
		box-shadow: 2px 2px 7.5px;
		&:hover{
			box-shadow: 1px 1px 4px;
		}
	}
}

.menu {
	width: 100px;
	position: absolute;
	left: 0;
	button{
		background: none;
		border: none;
		border-radius: 10px;
		padding: 7px;
		margin: 5px;
		width: 50px;
		height: 40px;
		&:hover .icon-bar{
			margin: 5px auto;
		}
		&:focus{
			outline: none;
		}
	}
	.visible-menu .icon-bar{
		&:nth-child(2){
			display: none;
		}
		&:nth-child(1){
			transform: rotate(45deg);
			margin: -3px auto;
		}
		&:nth-child(3){
			transform: rotate(-45deg);
			margin: -3px auto;
		}
	} 
	.icon-bar{
		height: 3px;
		width: 25px;
		background-color: black;
		margin: 3px auto;
		transition: 0.3s;
	}
}

