// _mediaQueries.scss

@-moz-document url-prefix() {
	#menu{
		margin-top: 45px;
	}
	#firefoxScroller{
		margin-right: -20px;
	} 
}
@supports (-ms-ime-align: auto) {
   /* Microsoft EdgeV13&14 CSS styles go here */
  #firefoxScroller{
		margin-right: -20px;
	} 
}

@media (max-width: 1000px) {
	#ajax-content{
		>div:first-of-type{
			margin: 10px 5vw;
		}
	}
	#content .entry-content-page {
		margin: 100px 10vw 50px;
	}
}

@media (max-width: 800px) {
	#ajax-content{
		padding: 75px 60px 50px;
	}
	.ref-wrapper {
		min-height: 200px;
		&> div:nth-of-type(1) {
			float: right;
			padding-left: 100px;
			padding-right: 0;
		}
		&> div:nth-of-type(2) {
			left: 0;
			top: 50px;
		}
		h3{
			float: left;
			width: 20%;
    		text-align: center;
		}
	}
}

@media (max-width: 700px) {
	.image-tile{
		width: 33%;
    	height: 33%;
	}
	.ref-wrapper {
		i{
			display: inline-block;
			margin-left: 10px;
		}
		min-height: 200px;
		&> div:nth-of-type(1) {
			display: none;
			width: 100%;
			overflow: hidden;
			padding-left: 0;
		}
		&> div:nth-of-type(2) {
			width: 100%;
		}
		h3{
			width: 100%;
			&:hover i{
				color:red;
			}
		}
	}
}


@media (max-width: 576px) {
	#modal_target{
		width: calc(100vw - 16px);
	}
}


@media (max-width: 550px) {
	#content .entry-content-page {
    	padding: 50px 20px;
		margin: 100px 10px 50px;
		h2{
			font-size: 1.5rem;
		}
	}
	#content #startpage {
		div{
			&.welcomeTitle{
				font-size: 15vw;
			}
			&.welcomeSubtitle{
				font-size: 5vw;
			}
		}
	}
	#ajax-content{
		padding: 75px 10px 50px;
		>div:first-of-type{
			margin: 0;
			padding: 20px;
		}
	}
	#footer, #footer-ajax{
		display: block;
		&>div{
			width: 100vw;
		}
	}
	#footer-ajax{
		margin-left: -50px;
	}
	
	#error{
	    width: 80vw;
	    margin-left: calc(50% - 40vw);
		margin-top: 100px;
	}
}