// _mediaQueries.scss

@-moz-document url-prefix() {
	#menu{
		margin-top: -6px;
	}
	#firefoxScroller{
		margin-right: -20px;
	} 
}
@supports (-ms-ime-align: auto) {
   /* Microsoft EdgeV13&14 CSS styles go here */
  #firefoxScroller{
		margin-right: -20px;
	} 
}

@media (max-width: 550px) {
	#content .entry-content-page {
    	padding: 100px 20px;
		#startpage {
			div{
				&.welcomeTitle{
					font-size: 12vw;
				}
				&.welcomeSubtitle{
					font-size: 5vw;
				}
			}
		}
	}
	#ajax-content{
		padding: 50px 25px 150px;
	}
	#footer{
		display: block !important;
		&>div{
			width: 100vw;
		}
	}
	
	#error{
	    width: 80vw;
	    margin-left: calc(50% - 40vw);
		margin-top: 100px;
	}
}

@media (max-width: 576px) {
	#modal_target{
		width: calc(100vw - 16px);
	}
}

@media (max-width: 700px) {
	.image-tile{
		width: 37vw;
    	height: 37vw;
	}
}